body {
    margin: 0px;
    padding: 0px;
    background-color: #f4f4f4;
    color: #333333;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Altura mínima o tamanho total da tela*/
}

.barra-navegacao {
    background-color: #ffffff;
    padding: 15px 0px;
}

.container-navegacao {
    max-width: 1100px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.logotipo {
    font-size: 24px;
    font-weight: bold;
    color: #3B6D11;
    text-decoration: none;
}

.menu-lista {
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.menu-item {
    margin-left: 20px;
}

.link-menu, .link-menu-ativo {
    text-decoration: none;
    color: #555555;
    font-weight: 500;
}

.link-menu-ativo {
    color: #3B6D11;
    font-weight: bold;
}

.area-principal {
    max-width: 1100px;
    margin: 0px auto;
    padding: 40px 20px;
    flex: 1; /* Faz a <main> preencher o vazio entre o header e o footer, garantindo que o footer fique travado lá embaixo. */
}

.secao-apresentacao, .secao-contexto, .secao-hero-solucao, .fluxo-operacional {
    margin-bottom: 60px;
}

.flex-container, .cartao-problema, .bloco-etapa, .bloco-etapa-invertido {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.bloco-etapa-invertido {
    flex-direction: row-reverse;
}

.coluna-texto, .texto-do-problema, .texto-etapa {
    flex: 1;
    margin-right: 20px;
}

.bloco-etapa-invertido .texto-etapa {
    margin-right: 0px;
    margin-left: 20px;
}

.coluna-imagem, .imagem-do-problema, .imagem-etapa {
    flex: 1;
}

.imagem-responsivel {
    width: 100%;
    border-radius: 12px;
}

.manchete-principal {
    font-size: 42px;
    color: #27500A;
    margin: 10px 0px 20px 0px;
}

.enfase-verde {
    color: #97C459;
}

.subtitulo-secao {
    font-size: 28px;
    color: #3B6D11;
    margin: 0px 0px 20px 0px;
}

.etiqueta-verde {
    color: #97C459;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0px;
}

.paragrafo-comum {
    font-size: 18px;
    margin: 0px 0px 15px 0px;
    color: #444444;
}

.alinhamento-central {
    text-align: center;
}

.grade-cards {
    display: flex;
    margin-top: 30px;
}

.item-card {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 10px;
    flex: 1;
    border-top: 5px solid #3B6D11;
    margin: 0px 10px;
}

.titulo-card {
    color: #3B6D11;
    margin: 0px 0px 15px 0px;
}

.texto-do-card {
    font-size: 15px;
    margin: 0px;
}

.rodape-final {
    background-color: #27500A;
    color: #ffffff;
    text-align: center;
    padding: 30px 0px;
}

.texto-copyright {
    margin: 0px;
}

.titulo-etapa {
    font-size: 22px;
    color: #3B6D11;
    margin-bottom: 10px;
}